<configuration>

    <!-- Définition du format des logs -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Niveau de logging -->
    <logger name="org.example.dao.UserDAO" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
